
.error-page
  position absolute
  top 20vh
  left 0
  right 0
  width 80%
  margin auto
  color $red
  text-align center

  h1
    font-weight normal
    font-size 1.2em
    margin 0

  h2
    font-weight inherit
    font-size inherit
    font-style italic
    margin 0

  .logo
    width  5em
    height 5em
    margin 1em auto
