
$navbg = $gray
$navhover = $darkgray

$menuw = 16rem
$navw  = 5rem
$barw  = $menuw + $navw
$navitems = 7

.sidebar
  position fixed
  top 0
  bottom 0
  width $navw + $menuw
  // min-height 100%
  left 0
  overflow-y scroll
  // overflow-y scroll
  // overflow-x visible

.sidebar-nav
  display inline-block
  vertical-align top
  min-height 100%
  width $navw
  background $navbg
  z-index 50
  // overflow visible

  .nav-lower
    position absolute
    bottom 0
    left 0
    width $navw

    @media screen and (max-height: $navitems*$navw)
      position static

.sidebar-nav-item
    z-index 50
    position relative

    color lighten(black, 3)
    transition background-color $time, color $time

    &:hover
      background-color $primary
      color darken($primary, 65)

    &:active
      background-color darken($primary, 8)

    a
      display block
      height $navw
      line-height $navw
      text-align center
      font-size .9em

    .sidebar-nav-name
      position absolute
      top 0
      bottom 0
      margin auto
      height 2rem
      line-height 2rem
      padding 0 .8rem
      border-radius 2rem
      background $primary
      color darken($primary, 60)
      opacity 0
      overflow none
      transition opacity $time, height 0 $time
      // left -500px
      box-sizing border-box
      height 0
      left $navw + 1rem

    & a:hover + .sidebar-nav-name
      opacity 1
      height 2rem
      transition opacity $time, height 0

.sidebar-nav-home
  background-size 65%

  .fa
    display none


// set menu width
.borges
  main
    margin-left $barw
    padding 1em

.sidebar-menu
  position absolute
  display inline-block
  width $menuw
  top 0
  left $navw
  height 100%
  min-height $navitems * $navw
  background $lightgray
  z-index 45
  vertical-align top
  padding-top $navw
  box-sizing border-box

  .sidebar-menu-title
    height $navw
    line-height $navw
    text-align center
    font-weight inherit
    font-size inherit
    background lighten($darkgray, 9)
    margin 0
    position fixed
    top 0
    width $menuw

  .sidebar-menu-item
    padding 0 1.6em
    height $navw
    line-height $navw
    cursor pointer

    &:hover
      background lighten($primary, 10)
